@keyframes flip-animation {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }
.flip-animation {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flip-animation; }

@keyframes fade-animation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fade-animation {
  animation-name: fade-animation; }

html, body {
  height: 100%;
  margin: 0px; }

.three.columns:nth-of-type(4n+5) {
  margin-left: 0; }

hr {
  border: 1px solid #1CA5F7;
  margin-top: 2rem;
  margin-bottom: 2.5rem; }

.jumbotron {
  align-items: center;
  background-image: url("../assets/images/jumbotron-pattern.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 400px;
  justify-content: center;
  margin-top: 0px;
  padding: 20px; }
  .jumbotron .nav-search {
    background-color: transparent;
    border: 2px solid #1CA5F7;
    border-radius: 50px;
    color: #1CA5F7;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px; }
    .jumbotron .nav-search:focus {
      border: 2px solid #1CA5F7;
      background-color: #E1F2FD;
      color: #1CA5F7; }
  .jumbotron .jumbo-btn {
    background-color: transparent;
    border: 2px solid #1CA5F7;
    border-radius: 20px;
    color: #1CA5F7;
    flex-basis: content;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 10px;
    font-weight: 700;
    margin: auto 0;
    padding: 0 10px;
    z-index: 8; }
    .jumbotron .jumbo-btn:hover {
      background-color: #1CA5F7;
      border: 2px solid #1CA5F7;
      color: #fff; }

.tagline {
  color: #1CA5F7;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.03em; }

.sub-tagline {
  color: #1CA5F7;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  text-align: center; }

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px; }

.heading {
  color: #1CA5F7;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.005em;
  margin-top: 100px; }

.subheading {
  color: #1CA5F7;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.03em;
  margin-top: 100px; }

.section-heading {
  color: #1CA5F7;
  border-top: 1px solid #1CA5F7;
  border-bottom: 1px solid #1CA5F7;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.03em;
  margin-bottom: 15px;
  padding: 8px;
  text-align: center; }

.poster-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 85px; }

#movie-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.action-buttons {
  background-color: #1CA5F7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  padding: 10px 4px;
  position: absolute;
  visibility: hidden;
  width: 20%;
  z-index: 7; }
  .action-buttons .list-button {
    background-color: white;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #1CA5F7;
    flex-basis: content;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 10px;
    font-weight: 700;
    margin: auto 0;
    padding: 0 10px;
    z-index: 8; }
    .action-buttons .list-button:hover {
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff; }

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px; }
  .image-container img {
    width: 100%; }
  .image-container:hover .action-buttons {
    visibility: visible;
    animation-duration: 0.5s;
    animation-name: flip-animation; }
  .image-container:hover img {
    filter: blur(2px); }
  .image-container:hover .no-hover {
    filter: blur(0px); }

.list-title {
  color: #656565;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400; }

.basic-para {
  color: #656565;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.03em; }

.not-available {
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #9e9e9e; }

.nav-components {
  border-bottom: 1px solid #1CA5F7; }

.nav-item {
  display: inline;
  margin-right: 10px; }

#where-to-watch {
  margin-left: 0; }

.detail-btn {
  border: none;
  border-radius: 0px;
  padding: 10px; }
  .detail-btn:hover {
    border-bottom: 2px solid #1CA5F7;
    color: #1CA5F7; }
  .detail-btn:focus {
    border-bottom: 2px solid #1CA5F7;
    color: #1CA5F7; }

.info {
  color: #1CA5F7;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700; }

#plot {
  font-size: 24px;
  font-weight: 300; }

#actors {
  font-weight: 300; }

#director {
  font-weight: 300; }

#writer {
  font-weight: 300; }

#genres {
  font-weight: 300; }

#go-back {
  background-color: transparent;
  border: 2px solid #1CA5F7;
  border-radius: 20px;
  color: #1CA5F7;
  flex-basis: content;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  margin: auto 0;
  padding: 0 10px;
  z-index: 8; }
  #go-back:hover {
    background-color: #1CA5F7;
    border: 2px solid #1CA5F7;
    color: #fff; }

.push, footer {
  height: 50px; }

footer {
  align-content: center;
  align-items: center;
  background-color: #E1F2FD;
  display: flex;
  justify-content: center; }

.footer-content {
  color: #1CA5F7;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0; }

@media screen and (min-width: 550px) and (max-width: 768px) {
  #poster {
    width: 48%; }

  #where-to-watch {
    width: 48%;
    margin-right: 0;
    margin-bottom: 15px; }

  #rating-section {
    width: 48%;
    margin-left: 0;
    margin-right: 15px;
    margin-bottom: 15px; }

  .cast-crew-details {
    width: 100%;
    margin-left: 0; }

  #back-btn {
    width: 48%; }

  #go-back {
    width: 100%; } }
@media screen and (min-width: 360px) and (max-width: 586px) {
  .tagline {
    font-size: 50px; }

  .jumbotron {
    height: 350px; } }
@media screen and (max-width: 548px) {
  .info {
    font-size: 18px;
    text-align: center; }

  #poster {
    width: 100%; }

  .synop {
    margin-bottom: 15px; }

  .rating {
    margin-bottom: 15px; }

  #where-to-watch {
    margin-bottom: 15px; }

  .cast-crew-details {
    margin-bottom: 15px; }

  .image-container {
    width: 48%;
    margin-right: 5px; }

  .image-container:nth-of-type(2n+3) {
    margin-left: 0; }

  .action-buttons {
    width: 40%; } }

/*# sourceMappingURL=style.css.map */
