// IMPORTS ====================================================================

@import "components/_typography";
@import "components/_search-input";
@import "components/_colors";
@import "components/_animation";
@import "components/normalize";

// VARIABLES ==================================================================

$max: 100%;

// == Body styles =============================================================

html, body {
  height: 100%;
  margin: 0px;
}

// == Framework overrides =====================================================

.three.columns:nth-of-type(4n+5) {
  margin-left: 0;
}

// == Jumbotron styles ========================================================

.jumbotron {
  // align-content: space-between;
  background-color: $primary-color;
  // display: flex;
  height: 500px;
  margin-top: 0px;
  padding: 20px;
}

// == Navbar overrides ========================================================

.nav {
  background-color: $primary-color;
  display: flex;
  justify-content: flex-end;;

  .nav-items li {
    color: $accent-color;
    display: inline;
    font-family: $primary-font;
    font-size: $primary-size;
    list-style-type: none;
    margin: 0px 10px;
  }

  .nav-items a {
    color: $accent-color;
    text-decoration: none;
  }

  .nav-search {
    background-color: $primary-color;
    border: $border;
    border-radius: $radius;
    color: $accent-color;
    font-family: $primary-font;
    font-size: $primary-size;
  }
}

// == Jumbotron content =======================================================

.tagline {
  color: $accent-color;
  font-family: $primary-font;
  font-size: $jumbotron-title;
  font-weight: 700;
  text-align: center;
  letter-spacing: $primary-spacing;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.call-button {
  background-color: transparent;
  border: $border;
  border-radius: $radius;
  color: $accent-color;
  font-family: $primary-font;
  font-size: $primary-size;
  font-weight: $light-weight;
  margin: 0 auto;

  &:hover {
    background-color: $accent-color;
    border: $border;
    color: $white;
  }
}

// == Main content ============================================================

.subheading {
  color: $accent-color;
  font-family: $primary-font;
  margin-top: 100px;
}

.poster-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 85px;
}

.action-buttons {
  background-color: $accent-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 10%;
  opacity: 0.8;
  padding: 4px;
  position: absolute;
  visibility: hidden;
  width: 20%;
  z-index: 8;

  .list-button {
    background-color: white;
    border: $border-white;
    border-radius: $small-radius;
    color: $accent-color;
    flex-basis: content;
    font-family: $primary-font;
    font-size: $extra-sm-size;
    font-weight: $heavy-weight;
    margin: auto 0;
    padding: 0 10px;

    &:hover {
      background-color: transparent;
      border: $border-white;
      color: $white;
    }
  }
}

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  img {
    width: $max;
    height: $max;
  }

  &:hover { // when the user hovers over the poster image show the hidden buttons
    .action-buttons {
      visibility: visible;
        animation-duration: 0.4s;
        animation-name: flip-animation;
    }

    img {
      filter: blur(2px);
    }
  }
}

// == Modal styling ===========================================================

.modal {
  background-color: $white;
  border: $border;
  border-radius: $small-radius;
  display: none;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
  width: 40%;
  z-index: 10;
}

.close {
  border-radius: 100%;
  color: $accent-color;
}

.modal-heading {
  color: $accent-color;
  font-family: $primary-font;
  font-weight: $heavy-weight;
}

hr {
  border: 1px solid $accent-color;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.list-container {

  a {
    text-decoration: none;
  }

  .list-item {
    border-bottom: 1px solid $gray;
    color: $black;
    font-family: $primary-font;
    font-size: $extra-lg-size;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: center;

    &:hover {
      background-color: $accent-color;
      border-bottom: 1px solid $accent-color;
      color: $white;
    }
  }
}

.new-list {
  font-family: $primary-font;
  text-align: center;
}

.modal-overlay {

  background-color: $black;
  display: none;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.modal-open {
  animation-duration: 0.4s;
  animation-name: fade-animation;
  display: block;
}

.overlay-open {
  display: block;
}

// == Footer ==================================================================

.push, footer {
  height: 50px;
}

footer {
  align-content: center;
  align-items: center;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
}

.footer-content {
  color: $accent-color;
  font-family: $primary-font;
  font-size: $small-size;
  font-weight: $primary-weight;
  text-align: center;
  margin-bottom: 0;
}
