// IMPORTS ====================================================================

@import "components/_typography";
@import "components/_search-input";
@import "components/_colors";
@import "components/_animation";
@import "components/normalize";

// VARIABLES ==================================================================

$max: 100%;

// == Body styles =============================================================

html, body {
  height: 100%;
  margin: 0px;
}

// == Framework overrides =====================================================

.three.columns:nth-of-type(4n+5) {
  margin-left: 0;
}

hr {
  border: 1px solid $accent-color;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

// == Jumbotron styles ========================================================

.jumbotron {
  align-items: center;
  background-image: url('../assets/images/jumbotron-pattern.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  height: 400px;
  justify-content: center;
  margin-top: 0px;
  padding: 20px;

  .nav-search {
    background-color: transparent;
    border: $border;
    border-radius: $radius;
    color: $accent-color;
    font-family: $primary-font;
    font-size: $primary-size;

    &:focus {
      border: $border;
      background-color: $primary-color;
      color: $accent-color;
    }
  }

  .jumbo-btn {
    background-color: transparent;
    border: $border;
    border-radius: $small-radius;
    color: $accent-color;
    flex-basis: content;
    font-family: $primary-font;
    font-size: $extra-sm-size;
    font-weight: $heavy-weight;
    margin: auto 0;
    padding: 0 10px;
    z-index: 8;

    &:hover {
      background-color: $accent-color;
      border: $border;
      color: $white;
    }
  }
}

// == Jumbotron content =======================================================

.tagline {
  color: $accent-color;
  font-family: $primary-font;
  font-size: $jumbotron-title;
  font-weight: 700;
  text-align: center;
  letter-spacing: $primary-spacing;
}

.sub-tagline {
  color: $accent-color;
  font-family: $primary-font;
  font-weight: 500;
  text-align: center;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

// == Main content ============================================================

// -- Styles for index.html ---------------------------------------------------

.heading {
  color: $accent-color;
  font-family: $primary-font;
  font-size: $heading-size;
  font-weight: $primary-weight;
  letter-spacing: $head-spacing;
  margin-top: 100px;
}

.subheading {
  color: $accent-color;
  font-family: $primary-font;
  font-size: $subheading-size;
  font-weight: $primary-weight;
  letter-spacing: $primary-spacing;
  margin-top: 100px;
}

.section-heading {
  color: $accent-color;
  border-top: 1px solid $accent-color;
  border-bottom: 1px solid $accent-color;
  font-family: $primary-font;
  font-size: $large-size;
  font-weight: $light-weight;
  letter-spacing: $primary-spacing;
  margin-bottom: 15px;
  padding: 8px;
  text-align: center;
}

.poster-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 85px;
}

#movie-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.action-buttons {
  background-color: $accent-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  padding: 10px 4px;
  position: absolute;
  visibility: hidden;
  width: 20%;
  z-index: 7;

  .list-button {
    background-color: white;
    border: $border-white;
    border-radius: $small-radius;
    color: $accent-color;
    flex-basis: content;
    font-family: $primary-font;
    font-size: $extra-sm-size;
    font-weight: $heavy-weight;
    margin: auto 0;
    padding: 0 10px;
    z-index: 8;

    &:hover {
      background-color: transparent;
      border: $border-white;
      color: $white;
    }
  }
}

.image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  img {
    width: $max;
  }

  &:hover { // when the user hovers over the poster image show the hidden buttons
    .action-buttons {
      visibility: visible;
        animation-duration: 0.5s;
        animation-name: flip-animation;
    }

    img {
      filter: blur(2px);
    }

    .no-hover {
      filter:blur(0px);
    }
  }
}

.list-title {
  color: $black;
  font-family: $primary-font;
  font-size: $extra-lg-size;
  font-weight: $primary-weight;
}

.basic-para {
  color: $black;
  font-family: $primary-font;
  font-size: $large-size;
  font-weight: $primary-weight;
  letter-spacing: $primary-spacing;
}

.not-available {
  text-align: center;
  font-family: $primary-font;
  font-size: $primary-size;
  font-weight: $light-weight;
  color: $gray;
}

.nav-components {
  border-bottom: 1px solid $accent-color;
}

.nav-item {
  display: inline;
  margin-right: 10px;
}

#where-to-watch {
  margin-left: 0;
}

.detail-btn {
  border: none;
  border-radius: 0px;
  padding: 10px;

  &:hover {
    border-bottom: 2px solid $accent-color;
    color: $accent-color;
  }

  &:focus {
    border-bottom: 2px solid $accent-color;
    color: $accent-color;
  }
}

.info {
  color: $accent-color;
  font-family: $primary-font;
  font-weight: $heavy-weight;
}

#plot {
  font-size: $extra-lg-size;
  font-weight: $light-weight;
}

#actors {
  font-weight: $light-weight;
}

#director {
  font-weight: $light-weight;
}

#writer {
  font-weight: $light-weight;
}

#genres {
  font-weight: $light-weight;
}

#go-back {
  background-color: transparent;
  border: $border;
  border-radius: $small-radius;
  color: $accent-color;
  flex-basis: content;
  font-family: $primary-font;
  font-size: $extra-sm-size;
  font-weight: $heavy-weight;
  margin: auto 0;
  padding: 0 10px;
  z-index: 8;

  &:hover {
    background-color: $accent-color;
    border: $border;
    color: $white;
  }
}

// == Footer ==================================================================

.push, footer {
  height: 50px;
}

footer {
  align-content: center;
  align-items: center;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
}

.footer-content {
  color: $accent-color;
  font-family: $primary-font;
  font-size: $small-size;
  font-weight: $primary-weight;
  text-align: center;
  margin-bottom: 0;
}

// == Media Queries ===========================================================

@media screen and (min-width: 550px) and (max-width: 768px) {

  #poster {
    width: 48%;
  }

  #where-to-watch {
    width: 48%;
    margin-right: 0;
    margin-bottom: 15px;

  }

  #rating-section {
    width: 48%;
    margin-left: 0;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .cast-crew-details {
    width: 100%;
    margin-left: 0;
  }

  #back-btn {
    width: 48%;
  }

  #go-back {
    width: 100%;
  }
}

@media screen and (min-width: 360px) and (max-width: 586px) {
  .tagline {
    font-size: 50px;
  }

  .jumbotron {
    height: 350px;
  }

}

@media screen and (max-width: 548px) {
  .info {
    font-size: 18px;
    text-align: center;
  }

  #poster {
    width: 100%;
  }

  .synop {
    margin-bottom: 15px;
  }

  .rating {
    margin-bottom: 15px;
  }

  #where-to-watch {
    margin-bottom: 15px;
  }

  .cast-crew-details {
    margin-bottom: 15px;
  }

  .image-container {
    width: 48%;
    margin-right: 5px;
  }

  .image-container:nth-of-type(2n+3) {
    margin-left: 0;
  }

  .action-buttons {
    width: 40%;
  }
}
